.container-admin {
    background-color: rgba(245,245,245,0.92);
    height: 85vh;
    width:97%;
    padding-left: 0px;
}

.row-admin {
    height: 100%;
}

.admin-content {
    height: 85vh;
    overflow: scroll;
}

.menu-vertical {
    height: 100%;
    background-color: black;
    color: white;
    padding-top: 50px;
}

#appbundle_product_tailles {
    padding: 0 10px 0 10px;
    display: flex;
    justify-content: space-between;
}

.container-index-admin {
    height: 100%;
    overflow-y: scroll;
}

.buttonAdmin {
    background: rgba(4,77,67,0.8);
    width: 15%;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
    margin: auto;
}